@inherits LaMa.Framework.Core.Web.MVCWrappers.WebViewPage<LaMa.Framework.Web.Testsite.Models.BootstrapControls.SimpleTableControlPM, LaMa.Framework.Web.Testsite.Models.BootstrapControls.SimpleTableControlVM>
@{
    ViewBag.Title = "Index";
}

<h2>Users</h2>



@PresentationModel.BootstrapTableControl.Render(Url.RouteUrl(new RouteValueDictionary{
                                                                                          {"action","GetUsers"},
                                                                                         { "controller","BootstrapControls"},
}))
 